//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 02 16:32:29 2016
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "P172" LEVEL 1;
COMP "b" LOCATE = SITE "P44" LEVEL 1;
SCHEMATIC END;

